<div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
  <div class="py-5">
    <h3 class="px-4 text-lg leading-6 font-bold text-gray-900">News</h3>
  </div>

  <div class="grid lg:grid-cols-3 grid-rows-1 flex gap-1" *ngFor="let news of newsListing">
    <div class="px-4 bg-cover bg-no-repeat lg:col-span-1 col-span-2 bg-center rounded">
      <img class="w-max h-full lg:h-2/3 rounded" src={{news.image_url}} alt="Sunset in the mountains">
    </div>
    <div class="col-span-2 grid grid-rows-2 grid-flow-col space-y-4 px-2">
        <div class="col-span-2">
          <p class="leading-6 text-xs tracking-widest text-gray-400 pb-2">{{news.date.slice(0, -5)}} | {{news.source_name}}</p>
          <h1 class="text-xl leading-6 font-medium text-gray-900">{{news.title}}</h1>
          <p class="tracking-wide">{{news.text}}</p>
        </div>

        <span class ="flex space-x-2">
          <p>Related:</p>
          <span class = "flex space-x-2" *ngFor="let topic of news.topics">
            <p class="bg-gray-200 h-6 px-1 rounded text-blue-400">{{topic}}</p>
          </span>
        </span>
    </div>
  </div>
</div>
